/* estilo añadido con tailwind */
@import "tailwindcss";

/* Estilos Globales */

/* Tarjeta general */
.tarjeta-global {
  border: 2px solid #ddd;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  max-width: 300px;
  margin: 1rem auto;
}

.tarjeta-global:hover {
  transform: scale(1.03);
}

/* Estilo del título */
.titulo-global {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

/* Estilo del contenido */
.contenido-global {
  color: #555;
  line-height: 1.6;
}

